html {
	box-sizing: border-box;
}

*, *:before, *:after {
	box-sizing: inherit;
}

body {
	margin: 0;
	font-family: "Open Sans";
}

.container {
	display: flex;
}

.sidebar {
	background-color: rgb(231, 76, 60);
	color: white;
	width: 220px;
	height: 100vh;
	text-align: left;
	padding: 0 0 0 26px;
}

.sidebar-header {
	padding: 10px 0 0 30px;
}

.chat-rooms {
	padding: 0 0 10px 0;
	transition: color 0.2s ease;
}

.chat-rooms:hover {
	color: rgb(41, 128, 185);
	cursor: pointer; 
}

.new-room-btn {
	padding: 0 0 15px 10px;
}

.main-container {
	flex-grow: 1;
	background-color: rgb(236, 240, 241);
}


.main-header {
	background-color: white;
	color: rgb(189, 195, 199);
	padding: 20px 0 20px 10px;
	font-size: 30px;
}

.room-name {
	font-size: 20px;
	padding: 0px 0px 0px 10px;
}

.message-content {
	padding: 5px 0 5px 10px;
}


/* New Messages Form */

.new-message > * {
	padding: 10px;
	background-color: rgb(236, 240, 241);
	line-height: 30px;
	font-size: 20px;
	border-radius: 0;
	outline: 0;
	border-right: 1px solid rgba(0,0,0,0.2);
	flex: 1%;	
	-webkit-appearance:none;
	
}

.flex-form > *:last-child {
	border-right: 0;
}

.new-message {
	display: flex;
	border: 8px solid rgba(255,255,255,1);
	
}

input[type="text"] {
	flex: 99%;
}

/* Button */

.button {
	transition: background-color 0.2s ease;
	background-color: rgb(52, 152, 219);
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: flex;
    font-size: 16px;
}
.button:hover {
	cursor: pointer;
	background-color: rgb(41, 128, 185);
}