button {
	padding: 5px;
}


/* modal styling below */
.modalWindow {
    text-align: center;
	background-color: white;
    width: 33%;
    margin: auto;
    position: relative;
    top: 25em;
    border: 1px double black;
}


.modal-footer button {
	margin: 5px 0px 5px 0px;
	
}


