<div class="container"> 
<!--
	<div class="logo-box">
		<img src="/assets/images/bloc-logo-white.png" alt="bloc bloc logo">
	</div>
	
	<div>
		<h2>{{ home.user }}</h2>
	</div>
-->
	<!--Sidebar with list of rooms-->
	<aside class="sidebar" >
		<h3 class="sidebar-header">Chat Rooms</h3>
		<section>
			<div class="chat-rooms" ng-repeat="room in home.rooms">
				<i class="icon ion-chatbubbles"></i> 
				<a class="room-link" ng-click="home.setRoom(room)">{{ room.name }}</a>
			</div>
		</section>

		<div>
			<form>
				<input class="button" type="submit" value="New Room" ng-click="home.open()">
			</form>
		</div>
		
		<div ng-show="modalInstance.chatName"></div>
	</aside>
		
	<section class="main-container">
		<header class="main-header">{{ home.heroTitle }}</header>
		<!--Messages-->
		<h4 class="room-name">{{ home.currentRoom.$id }}</h4>
		<p class="message-content" ng-repeat="message in home.currentMessages">{{ message.content }} </p>
		<form class="new-message">
			<input type="text" class="new-message-input" placeholder="your message here" ng-model="newMessage.content">
			<input class="button" type="submit" value="Send" ng-click="home.sendMessage()">
		</form>
	</section>
</div>


